        * {
          font-size: 16px;
          font-family: "Times New Roman", Times, serif;
        }
        
        p {
          font-size: 20px;
          text-align: center;
          margin-top: 20px;
        }
        
        th {
            padding: 10px;
            text-align: left;
            background-color: rgb(37, 231, 85);
        }
        
		td {
            padding: 10px;
            text-align: left;
        }
        
        select {
            width: 10%;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        
        input {
            width: 40%;
            padding: 10px;
            margin: 5px 0;
            border: none;
            border-radius: 5px;
        }
